@import "bootstrap";

body,
#root {
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
}

main {
  flex: 1;
  max-height: 100%;
  align-content: center;
}

.row {
  scrollbar-color: rgb(63, 63, 63) rgb(27, 27, 27);
  scrollbar-width: thin;
}

.card:hover {
  img.card-img {
    opacity: 0.1;
    transition: all 0.2s ease;
  }
}
